body {
    margin: 0;
    padding: 0;
    background: #bcd3f0;
    height: 100vh;
}
h1{
    background-color: #27ae60;
    color: white;
    height: 100px;
    line-height: 50px;
    ;

}
#KamlaNagar {
    display: block;
    width : 150px;
    height : 50px;
    background : #27ae60;
    border : 1px solid #26a65b;
    color : white;
    text-align :center;
    font-size : 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 1rem;
}
#Khandari {
    display: block;
    width : 150px;
    height : 50px;
    background : #27ae60;
    border : 1px solid #26a65b;
    color : white;
    text-align :center;
    font-size : 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 1rem;
}

#SanjayPlace {
    display: block;
    width : 150px;
    height : 50px;
    background : #27ae60;
    border : 1px solid #26a65b;
    color : white;
    text-align :center;
    font-size : 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 1rem;
}

#Dayalbagh {
    display: block;
    width : 150px;
    height : 50px;
    background : #27ae60;
    border : 1px solid #26a65b;
    color : white;
    text-align :center;
    font-size : 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 1rem;
}

#FatehbadRoad {
    display: block;
    width : 150px;
    height : 50px;
    background : #27ae60;
    border : 1px solid #26a65b;
    color : white;
    text-align :center;
    font-size : 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 1rem;
}

